<b>{{package.name}} {{package.version}}</b>
<h3>process</h3>
<ul>
  <li>NODE_ENV:{{process.env.NODE_ENV}}</li>
</ul>

<h3>Git</h3>
<ul>
  <li>Branch:{{gitInfo.BRANCH}}</li>
</ul>
<h3>Template Params</h3>
<code>
  {{origin}}
</code>